@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
}

body{
    background-color: #191919;
    color: #d4d4d4;
    margin: 100px;
}

a{
    color: #d4d4d4;
    text-decoration: none;
}

a:hover{
    color: #43df84;
}

a.resources{
    text-decoration: underline;
}

a.resources:hover{
    color: #5694ff;
}

i.tag{
    font-style: normal;
    background-color: #f54651;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    padding-bottom: 2px;
    font-size: 0.75em;
}